header{
    background-color: black;
    color: white;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    margin: 10px;
    padding: 10px;
}

button{
    color: green;
    background-color: rgb(219, 255, 198);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.b-sel{
    background-color: green;
    color: white;
}